

div.a {
	text-align: center;
    height: 300vh;
    object-fit: contain;
    background-image: url("../img/img4.webp");
    background-repeat:no-repeat;
    background-position:left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}